<div class="sign-in">
    <div class="sign-in__card">
        <h2>Entrar</h2>
        <form [formGroup]="form" (ngSubmit)="signIn()">
            <div [ngClass]="['form-group', isUserInvalid ? 'ng-invalid mb-3' : '']">
                <input
                    type="text"
                    placeholder="Email ou usuário"
                    class="form-control"
                    id="user"
                    name="user"
                    formControlName="user"
                    #user
                    required />
                <button
                    *ngIf="!isUserValid"
                    (click)="validateUser(user.value)"
                    [disabled]="form.get('user').invalid"
                    [ngClass]="isLoading ? 'loading' : ''">
                    <fa-icon size="2x" [icon]="isLoading ? spinner : arrowRight"></fa-icon>
                </button>
                <div *ngIf="isUserInvalid" class="invalid-feedback">Usuário inválido.</div>
            </div>
            <div [ngClass]="['form-group', isUserValid ? '' : 'hidden']">
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    formControlName="password"
                    placeholder="Senha"
                    required
                    #passwordInput />
                <button
                    *ngIf="isUserValid"
                    type="submit"
                    [disabled]="form.invalid"
                    [ngClass]="isLoading ? 'loading' : ''">
                    <fa-icon size="2x" [icon]="isLoading ? spinner : arrowRight"></fa-icon>
                </button>
                <div class="invalid-feedback">Por favor, informe sua senha.</div>
            </div>
            <div class="text-left mt-1">
                <a routerLink="/esqueci-a-senha">Esqueceu a senha?</a>
            </div>
        </form>
    </div>
</div>
