.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    width: 100%;
    padding-top: 64px;
    min-height: calc(100vh - 80px);
}
