.form-group {
    display: flex;
    flex-direction: row;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px 10px;
    position: relative;

    & + .form-group {
        margin-top: 16px;
    }

    input {
        padding: 10px;
        border: none;
        flex-grow: 2;
        font-size: 16px;
    }

    input[type='email'] {
        min-width: 300px;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: 7px;
        top: 7px;

        &:disabled {
            opacity: 0.3;
            pointer-events: none;
            cursor: text !important;
        }

        svg {
            path {
                fill: #909090;
            }
        }
    }
    .invalid-feedback {
        display: none;
        margin-top: 5px;
        color: red;
        position: absolute;
        top: 42px;
        left: 0px;
    }

    &.ng-invalid {
        border: 1px solid red;
        .invalid-feedback {
            display: block;
        }
    }

    &.ng-valid {
        border-color: green;
    }
}
